<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <div class="navbar-brand align-app-title"><%= link_to "Blog App", groups_path, class: 'nav-link' %>

    </div>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <div class="align-navbar-signout"><li><%= link_to "Groups", groups_path, class: 'nav-link' %></li></div>
        <div><li><%= link_to "Sign out", destroy_user_session_path, class: 'nav-link', data: { turbo_method: :delete } %></li></div>
    </ul>
  </div>
</nav>
